{% extends 'home/base.html' %}


{% block title %}
    Receipe View
{% endblock title %}
    

{% block content %}

<div class = "container mt-5">
    
    <form class = "col-6 mx-auto card p-3 shadow-lg" method = "post" enctype = "multipart/form-data">
        {% csrf_token %}

        <h2> Add Receipe </h2>
        <hr>
        
        <div class="mb-3">
            <label for="Receipe Name" class="form-label">Receipe Name</label>
            <input type="text" class="form-control" required name = "receipe_name">
        </div>

        <div class="mb-3">
            <label for="Receipe Description" class="form-label">Receipe Description</label>
            <textarea name="receipe_description" required class = "form-control"></textarea>
        </div>

        <div class="mb-3">
            <label for="Receipe Image" class="form-label">Receipe Image</label>
            <input type="file" required class="form-control" name = "receipe_image">
        </div>    

        <button type = "submit" class = 'btn btn-success mb-2'> Add Receipe </button>
        <a href="/show-receipe " class = "btn btn-primary" role = "button">Show</a>

    </form>

</div>
{% endblock content %}
    